# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Logs and debug
*.log

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter (if ever used)
.ipynb_checkpoints/

# Docker
*.pid
*.tar
docker-compose.override.yml

# Pytest or coverage reports (if added later)
.coverage
htmlcov/
.cache/
